:root {
  --primaryButtonColor: rgb(60, 71, 228);
  --secondaryButtonColor: rgb(135, 142, 233);
  --tertiaryButtonColor: rgb(163, 167, 228);

  --primaryBackgroundColor: rgb(214, 235, 214);
  --secondaryBackgroundColor: rgb(204, 255, 204);
  --tertiaryBackgroundColor: rgb(158, 255, 158);

  --primaryTextColor: rgb(35, 36, 35);
  --secondaryTextColor: rgb(137, 141, 137);
  --tertiaryTextColor: rgb(255, 255, 255);

  --primaryFontFamily: 'Roboto', sans-serif;
  --secondaryFontFamily: 'Sanchez', serif;
  --tertiaryFontFamily: 'Orbitron', sans-serif;
  --otherFontFamily: 'Montserrat', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/*********************************** Header CSS**********************/
/********************************************************************/
nav {
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: var(--primaryBackgroundColor);
}

nav .logo {
  height: 5rem;
  flex: 1;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  flex: 5;
}

.nav-item {
  text-transform: uppercase;
  font-size: 16px;
  font-family: var(--primaryFontFamily);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: var(--primaryButtonColor);
}

.start-trial-link {
  border: 3px solid var(--primaryButtonColor);
  padding: 5px;
}

@media screen and (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 50vh;
    top: 6vh;
    background-color: var(--primaryBackgroundColor);
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    width: 40%;
  }
  .nav-links li {
    opacity: 0;
  }

  .hamburger {
    display: block;
  }

  #section-2 {
    flex-direction: column;
  }

  #section-3 .plans-container .plans {
    flex-direction: column;
  }

  .plans .plan {
    margin: 20px auto;
  }

  .card {
    margin: 20px 0px 20px 0px;
  }

  #section-4 {
    height: 110vh !important;
  }

  #section-4 .container {
    width: 100vw;
  }

  #section-4 .container .grid {
    height: 400px;
    overflow-y: scroll;
    width: fit-content;
  }

  #section-5 {
    height: 120vh !important;
    display: flex;
    flex-direction: column;
  }

  #section-5 .flip-card-container {
    flex-direction: column;
    margin: 10px;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    font-weight: bold;
    transform: translateX(0%);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/******************************************* End of Header CSS *******************************/
/*********************************************************************************************/

////**********************SECTION 1******************/
#section-1 {
  height: 100vh;
  background: url('/images/coffeeBeans.jpeg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1--container {
  flex-direction: column;
  text-align: center;
}

.section-1--container .title {
  color: #fff;
  font-size: 2rem;
  font-family: var(--secondaryFontFamily);
  text-shadow: 5px 3px 0 var(--primaryTextColor);
}

.btn {
  font-size: 2rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.start-trial-btn {
  color: #fff;
  background-color: var(--primaryButtonColor);
}

button.our-brand {
  background-color: var(--secondaryButtonColor);
}

///////////////////************SECTION 1 ****************///

.footer {
  height: 2rem;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--primaryBackgroundColor);
}

#section-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #7862e4, #09a1e2, #a5fecb);
}

#section-2 .card {
  position: relative;
  width: 320px;
  height: 420px;
  background: var(--tertiaryBackgroundColor);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px;
}

.card-image {
  width: 25%;
}

.card-image img {
  width: 28rem;
}

.content-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--primaryTextColor);
}

.add-to-cart:link,
.add-to-cart:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.add-to-cart:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.add-to-cart:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.add-to-cart-white {
  background-color: var(--primaryButtonColor);
  color: #fff;
  font-size: 1.2rem;
  margin-top: 5px;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
}

.add-to-cart::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.add-to-cart-white::after {
  background-color: #fff;
}

.add-to-cart:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.add-to-cart-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#section-3 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url('./images/bg-top.svg');
  font-family: var(--otherFontFamily);
}

#section-3 .title {
  margin: 0 auto;
}

#section-3 .title .text {
  font-size: 2rem;
  margin: 5px;
}

#section-3 .plans {
  display: flex;
  justify-content: center;
}

#section-3 .plan {
  width: 300px;
  height: 450px;
  border: 1px solid black;
  border-radius: 15px;
}
#section-3 .plan:hover {
  width: 300px;
  height: 500px;
  border: 1px solid black;
  border-radius: 15px;
  color: #fff;
  background: linear-gradient(
    to right bottom,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

#section-3 .plan .plan-item {
  text-align: center;
  padding: 30px 0px 30px 0px;
  margin: 0 auto;
  border-bottom: 1px solid black;
  width: 90%;
}

.plan button {
  text-align: center;
  width: 50%;
  margin: 10px 25% 0px 25%;
  font-size: 20px;
  padding: 5px;
  background-color: var(--primaryButtonColor);
  color: #fff;
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.plan:hover button {
  color: #000;
  background: linear-gradient(
    to right bottom,
    var(--primaryBackgroundColor),
    var(--tertiaryBackgroundColor)
  );
}

.plan .name {
  font-size: 2em;
}

.freq {
  display: flex;
  align-items: center;
  justify-content: center;
}

.freq p {
  margin: 0 5px;
}

/******TOGGLE BTN*********/
.toggle-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  pointer-events: none;
  margin: 20px 0px;
}

.toggle-container input {
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: var(--primaryButtonColor);
  transition: 0.4s;
  pointer-events: none;
}

.slider::before {
  content: '';
  position: absolute;
  height: 22px;
  width: 22px;
  left: 5px;
  bottom: 4px;
  background-color: #fff;
  transition: 0.2s;
  pointer-events: none;
}

.slider::after {
  position: absolute;
  height: 24px;
  width: 24px;
  right: 5px;
  bottom: 6px;
  transition: 0.2s;
  pointer-events: none;
  color: #fff;
}

input:checked + .slider {
  background-color: var(--primaryButtonColor);
}

input:checked + .slider:before {
  transform: translateX(29px);
}

input:checked + .slider:after {
  left: 8px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/******End TOGGLE BTN*********/

///*********SECTION 4*******/
#section-4 {
  height: 100vh;
  font-size: 13px;
  font-family: var(--otherFontFamily);
  background-color: antiquewhite;
}

.container {
  display: grid;
  height: 60vh;
  width: 75vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'a a b c'
    'd e e c';
  margin: auto;
}

.testimonial-1 {
  grid-area: a;

  background: url('./images/bg-pattern-quotation.svg');
  background-repeat: no-repeat;
  background-color: hsl(263, 55%, 52%);
  background-position: 90% 0%;
}
.testimonial-2 {
  grid-area: b;
  background: hsl(217, 19%, 35%);
}
.testimonial-3 {
  grid-area: d;
  background: hsl(0, 0%, 100%);
}
.testimonial-4 {
  grid-area: e;
  background: hsl(219, 29%, 14%);
}
.testimonial-5 {
  grid-area: c;
  background: hsl(0, 0%, 100%);
}

#section-4 .header {
  display: flex;
  align-items: center;
}

.grid {
  margin: 10px;
  border: 1px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 0px 15px 0.1px hsl(0, 0%, 81%);
}

.testimonial-1 .name,
.testimonial-2 .name,
.testimonial-4 .name {
  color: hsl(210, 46%, 95%);
  font-weight: 500;
}

.testimonial-1 .text,
.testimonial-2 .text,
.testimonial-4 .text,
.testimonial-1 .title,
.testimonial-2 .title,
.testimonial-4 .title {
  color: hsl(210, 46%, 95%);
  opacity: 0.5;
}

.testimonial-1 .summary,
.testimonial-2 .summary,
.testimonial-4 .summary {
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0;
}

.testimonial-3 .name,
.testimonial-5 .name {
  color: hsl(217, 19%, 35%);
}

.testimonial-3 .summary,
.testimonial-5 .summary {
  color: hsl(217, 19%, 35%);
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0;
}

.testimonial-3 .title,
.testimonial-5 .title,
.testimonial-3 .text,
.testimonial-5 .text {
  color: hsl(217, 19%, 35%);
  opacity: 0.5;
}

#section-4 img {
  border-radius: 50%;
  margin-right: 5px;
}

.testimonial-header {
  color: var(--primaryButtonColor);
  font-size: 2rem;
  font-family: var(--secondaryFontFamily);
  text-align: center;
  padding: 20px;
}

////***END OF SECTION 4 ***/

#section-5 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #70e1f5, #ffd194);
}

.flip-card-container {
  height: 300px;
  width: 250px;
  perspective: 1200px;
  cursor: pointer;
}

.front {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(135, 142, 233);
  transition: all 0.6s;
  backface-visibility: hidden;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #b79891;
  transition: all 0.6s;
  transform: rotateY(-180deg);
  backface-visibility: hidden;
  text-align: center;
}

.front,
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.flip-card-container:hover .front {
  transform: rotateY(180deg);
}

.flip-card-container:hover .back {
  transform: rotateY(0deg);
}

.front img {
  width: 250px;
  height: 220px;
  border-radius: 10px 10px 0px 0px;
}

.front h1 {
  height: 80px;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: var(--primaryFontFamily);
}

.back p {
  padding: 5px;
  color: #fff;
  font-size: 20px;
  font-family: var(--otherFontFamily);
  cursor: default;
}

.back a {
  font-size: 20px;
  margin-top: 10px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  background-color: yellow;
}
