:root {
  --primaryBackgroundColor: rgb(219, 195, 163);
  --secondaryBackgroundColor: #c2c7c3;
  --tertiaryBackgroundColor: rgb(77, 77, 77);

  --primaryButtonColor: rgb(212, 59, 59);
  --secondaryButtonColor: rgb(204, 255, 204);

  --primaryFontFamily: 'Roboto', sans-serif;
  --secondaryFontFamily: 'Sanchez', serif;
  --tertiaryFontFamily: 'Orbitron', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/*********************************** Header CSS**********************/
/********************************************************************/
nav {
  display: flex;
  align-items: center;
  height: 5rem;
  background-color: var(--primaryBackgroundColor);
}

nav .logo {
  height: 5rem;
  flex: 1;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  flex: 5;
}

.nav-item {
  text-transform: uppercase;
  font-size: 16px;
  font-family: var(--primaryFontFamily);
  text-align: center;
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: var(--primaryButtonColor);
}

.start-trial-link {
  border: 3px solid var(--primaryButtonColor);
  padding: 5px;
}

@media screen and (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
    // scroll-behavior: smooth;
  }
  body {
    position: relative;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 50vh;
    top: 6vh;
    background-color: var(--primaryBackgroundColor);
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    width: 40%;
  }
  .nav-links li {
    opacity: 0;
  }

  .hamburger {
    display: block;
  }

  #section-2 {
    flex-direction: column;
  }

  .card {
    margin: 20px 0px 20px 0px;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    font-weight: bold;
    transform: translateX(0%);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/******************************************* End of Header CSS *******************************/
/*********************************************************************************************/

////**********************SECTION 1******************/
#section-1 {
  height: 100vh;
  background: url('/images/coffeeBeans.jpeg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1--container {
  flex-direction: column;
  text-align: center;
}

.section-1--container .title {
  color: #fff;
  font-size: 2rem;
  font-family: var(--secondaryFontFamily);
  text-shadow: 5px 3px 0 var(--tertiaryBackgroundColor);
}

.btn {
  font-size: 2rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.start-trial-btn {
  color: #fff;
  background-color: var(--primaryButtonColor);
}

button.our-brand {
  background-color: var(--secondaryButtonColor);
}

///////////////////************SECTION 1 ****************///

.footer {
  height: 2rem;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--primaryBackgroundColor);
}

#section-2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background-color: var(--secondaryBackgroundColor);
}

.card {
  position: relative;
  width: 320px;
  height: 420px;
  background: var(--tertiaryBackgroundColor);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 10px 10px;
}

// .card::before {
//   content: '';
//   position: absolute;
//   background: var(--secondaryButtonColor);
//   bottom: -50%;
//   width: 100%;
//   height: 100%;
//   transform: skewY(25deg);
//   transition: 0.5s;
// }

// .card:hover::before {
//   transform: skewY(-0.06turn);
//   z-index: -1;
// }

.card-image {
  // position: relative;
  width: 25%;
}

.card-image img {
  width: 28rem;
}

.content-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.add-to-cart:link,
.add-to-cart:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.add-to-cart:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.add-to-cart:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.add-to-cart-white {
  background-color: var(--primaryButtonColor);
  color: #fff;
  font-size: 1.2rem;
  margin-top: 5px;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
}

.add-to-cart::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.add-to-cart-white::after {
  background-color: #fff;
}

.add-to-cart:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.add-to-cart-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
